{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="search">
        <h1>Вакансии для<br>Junior-разработчиков</h1>
        <form action="{% url 'search' %}">
            <input type="text" name="s" placeholder="Найти работу или стажиорвку" />
            <div class="form-input">
                <button>Найти</button>
            </div>
        </form>
        <div class="examples">
            <div>Например:</div>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Django</li>
                <li>Парсинг</li>
                <li>ML</li>
            </ul>
        </div>
    </section>
    <section class="vacancies">
        <h2>Вакансии по рубрикам</h2>
        <div class="spheres-cards">
        {% for specialty in object_list %}
            <a class="card" href="{% url 'specialty_vacancies' specialty.code %}">
                <img src="{% get_media_prefix %}{{ specialty.picture }}" alt="">
                <div class="sphere">{{ specialty.title }}</div>
                <div class="count">{{ specialty.vacancies.count }} вакансий</div>
            </a>
        {% endfor %}
        </div>
    </section>
{% endblock  %}