{% extends 'base.html' %}

{% block content %}
<div class="vacancy-description">
    <div class="title">
        <h2>{{ object.title }}</h2>
        <span class="salary">{{ object.salary_from }} - {{ object.salary_to }} Р</span>
    </div>
    <ul class="tags">
        {% for skill in vacancy.get_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
    </ul>
    <div class="description">
    {{ object.description|safe }}
    </div>
    <form class="contact-us" method="post">
        {% csrf_token %}
        <h3>Отозваться на вакансию</h3>
        <div class="form-item">
            <label for="name">Ваше имя:</label>
            {{ form.name }}
        </div>
        <div class="form-item">
            <label for="phone">Ваше телефон:</label>
            {{ form.phone }}
        </div>
        <div class="form-item">
            <label for="text">Сопроводительное письмо:</label>
            {{ form.message}}
        </div>
        <button type="submit">Записаться на сопроводительнй урок</button>
    </form>
</div>
{% endblock  %}