/* Main Page */

.search {
    max-width: 550px;
    margin: 0 auto;
}

.search form {
    display: flex;
    gap: 20px;

}

.search form input {
    flex: auto;
    /* min-width: 70%; */
}

.search form button {
}

.search .examples {
    display: flex;
    gap: .5rem;
    width: 100%;
    margin-top: 1rem;
}

.search .examples ul {
    flex: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: .5rem;

    margin: 0;
    padding: 0;
}

.search .examples li {
    list-style: none;
    text-decoration: underline;
}

/* Vacancies */

.spheres-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.spheres-cards .card {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    padding: 1.5rem 0;    
}

.spheres-cards .card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.spheres-cards .card .count {
    color: var(--red);
}

/* Search page */

.vacancies-search {
    max-width: 400px;
    margin: 0 auto; 
}

.vacancies-search form {
    display: flex;
    gap: 1rem;
}

.vacancies-search form input {
    flex: auto;
}

.vacancies-search .count {
    text-align: center;
    margin: 1rem 0;
}

.vacancies-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    max-width: 700px;
    gap: 1.5rem;

    margin: 3rem auto;
}

.vacancies-cards .card {
    padding: 1.5rem;
}

.vacancies-cards .card h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 2rem;
}

.vacancies-cards .card .date {
    margin-top: 2rem;
    color: gray;
}

.vacancies-cards .card img {
    object-fit: cover;
    margin-left: auto;
    width: 130px;
    /* width: 100%; */
}

/* Specialty Page */

.specialty-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialty-head h1 {
    font-size: 5rem;
    margin: 0;
}

/* Company Page */

.company-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-head h1 {
    font-size: 5rem;
    margin: 0;
}

/* Vacancy detail */

.vacancy-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.vacancy-description p {
    font-size: 1rem;
}

.vacancy-description h2 {
    margin: 0;
    display: inline-block;
}

.vacancy-description .tags {
    color: gray;
}

form.contact-us {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin: 1.5rem 0;
    padding: 2rem;
    border: 1px solid var(--darkParagraph);
    border-radius: 5px;
}

form.contact-us h3 {
    margin: 0;
    text-align: left;
}

form.contact-us .form-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form.contact-us button {
    width: auto;
}

/* Company page */

/* Create company */

.create-company-card .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    
    max-width: 500px;
    padding: 1.5rem;
    margin: 0 auto;

    background-color: var(--secondBackground);
}

.create-company-card .card h2 {
    margin: 0;
}

.create-company {
    max-width: 800px;
    margin: 0 auto;
}

.create-company .card {
    flex-direction: column;
    gap: 2rem;
}

.create-company h2 {
    margin: 0;
    align-self: flex-start;
}

form.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'title logo'
        'employees location'
        'description description'
        'button button';
    gap: 1.5rem;
    
    width: 100%;
    font-size: 1rem;
}

/* MyCompany Page */

.mycompany {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: 0;
}

.mycompany h2 {
    margin: 0;
}

.mycompany .card {
    align-items: flex-start;
}

.mycompany .card.info {
    flex-direction: column;
    gap: 1.5rem;
}

.mycompany aside {
    flex-direction: column;
    gap: 1rem;
}

.mycompany aside nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mycompany aside nav a {
    color: var(--red);
}
.mycompany aside nav a:hover {
    color: var(--headline);
}

/* MyCompany Vacancies */

.mycompany .vacancies {
    width: 100%;
}

.mycompany .vacancies .card {
    padding: 1rem;
    align-items: center;
}

.mycompany .vacancies .card .description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mycompany .vacancies .card footer {
    display: flex;
    gap: 1rem;
}

.mycompany .vacancies .card a.btn {
    margin-left: auto;
} 

/* MyCompany Vacancy Detail  */

.mycompany form.vacancy {
    display: grid;
    grid-template-areas: 
        'title specialty'
        'salary_from salary_to'
        'skills skills'
        'description description'
        'button button';
    width: 100%;
    gap: 1.5rem;
}

/* MyResume */

.myresume .card {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    align-items: flex-start;
    gap: 1rem;
}

.myresume .card h2 {
    text-align: left;
    margin: 0;
}

form.resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'name surname'
        'status salary'
        'specialty grade'
        'education education'
        'experience experience'
        'portfolio portfolio'
        'button button';
    gap: 1.5rem;
    
    width: 100%;
    font-size: 1rem;
}